:root {
    --primary-blue: #2A5CBF;
    --secondary-green: #33A36D;
    --neutral-white: #FFFFFF;
    --neutral-light-gray: #F5F5F5;
    --neutral-dark-gray: #333333;
    --accent-yellow: #FFC107;
    --accent-aqua: #32BFC4;
}

.rm-roadmap-section {
    font-family: Arial, sans-serif;
    background-color: var(--neutral-light-gray);
    text-align: center;
    margin: 0;
    padding: 20px;
    animation:right both;
    animation-timeline: view(45% 5%);
}
@keyframes right {
  from{
      opacity: 0;
      transform: translateX(-163px);
  }

  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.rm-roadmap-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--neutral-white);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.rm-phase-group {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--neutral-white);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.rm-phase-group-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-blue);
    border-bottom: 2px solid var(--secondary-green);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.rm-phase-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.rm-phase-card {
    flex: 1;
    min-width: 300px;
    background-color: var(--neutral-light-gray);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.rm-phase-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-blue);
}

.rm-phase-subtitle {
    font-size: 1.1rem;
    color: var(--neutral-dark-gray);
    margin-bottom: 10px;
}

.rm-phase-details ul {
    list-style: disc;
    margin-left: 20px;
    padding-left: 0;
    text-align: left;
}

.rm-phase-details li {
    font-size: 1rem;
    color: var(--neutral-dark-gray);
    margin-bottom: 5px;
}
